.headerContainer {
  height: 5rem;
  background-color: var(--dark-800);
  margin-bottom: 5rem;
}

.headerContent {
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 10px 0; 
  }

  nav {
    display: flex;
    align-items: center;
    gap: 14px;

    a {
      color: var(--white);
      text-decoration: none;
      transition: color 0.8s;

      @media (max-width: 768px) {
        font-size: 14px; // Diminui o tamanho da fonte para dispositivos móveis
      }

      &:hover {
        color: var(--red-900);
      }
    }

    button {
      border: 0;
      background: transparent;
      margin-left: 16px;
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.2);
      }
    }

    @media (max-width: 768px) { // Ajusta a navegação em dispositivos móveis
      flex-direction: column; // Empilha os links verticalmente
      align-items: flex-start; // Alinha os itens ao início
      gap: 8px; // Ajusta o espaço entre os itens

      button {
        margin-left: 0; // Remove a margem esquerda para botões em dispositivos móveis
      }
    }
  }
}
